# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборки (контейнер сам соберет проект с нуля)
build/
dist/

# Системные и Git файлы
.git/
.gitignore
.DS_Store

# Переменные окружения (лучше прокидывать через docker-compose)
.env
.env.local
.env.development
.env.production